
	SELECT CODE
			,CDATE
			,STOCK
			,LAG1
		  ,CASE WHEN  TRY_PARSE(STOCK as float)>TRY_PARSE(LAG1 as float) THEN TRY_PARSE(STOCK as float)-TRY_PARSE(LAG1 as float)
				WHEN LAG1 IS NULL THEN  TRY_PARSE(STOCK as float) 
				ELSE 0 END INC
	FROM(
	SELECT [CODE]
		  ,[STOCK]
		  ,CDATE
		  ,LAG(STOCK) OVER (PARTITION BY CODE ORDER BY CDATE) AS LAG1
	  FROM [KOTON_DB].[dbo].[FA_Sales_Ecommerce]
	  GROUP BY CODE, CDATE, STOCK) AS t
	  GROUP BY CODE, LAG1, CDATE, STOCK
