/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [OPTION], [SEZON KODU]      
      ,[Rating Derecesi]
      ,[DIVISION]
      ,[DEPARTMENT]
      ,[SUB DEPARTMENT]
      ,[CATEGORY]
      ,[CLASS]
	  ,fe1.[CALWEEK]
      ,fe1.[STORENAME]
      ,case when fe1.[SALES_QUANTITY] is null or fe1.[SALES_QUANTITY]<0 then 0 else fe1.[SALES_QUANTITY] end as [SALES_QUANTITY]
	  ,case when fe1.[SALESAMOUNT] is null or fe1.[SALESAMOUNT]<0 then 0 else fe1.[SALESAMOUNT] end as [SALESAMOUNT]
	  ,case when fe1.[STOK_QUANTITY] is null or fe1.[STOK_QUANTITY]<0 then 0 else fe1.[STOK_QUANTITY] end as [STOK_QUANTITY]
  FROM [KOTON_DB].[dbo].[mail_ratings] as rats
  inner join RB_FE1_ as fe1 on fe1.OptionCode=rats.[OPTION]